.btn {
    border: none;
    cursor: pointer;
    text-decoration: none;
    line-height: 45px;
    border-radius: 45px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: $title-color;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    text-shadow: 2px 2px 6px rgb(255, 253, 208);
    transition: .3s;
    &:hover {
        background: #b2b0b3;
        box-shadow: 0 15px 20px rgba(88, 88, 88, 0.4);
        text-shadow: 2px 2px 3px rgb(223, 221, 221);
        color: white;
        transform: translateY(-7px);
    }
    &__return {
        display: block;
            margin: 0 auto;
            margin-top: 10px;
            width: 200px;
            height: 80px;
            font-size: 18px;
    }
}
