.header {
    @include textColor;
    margin-top: 20px;
    &__greatings {
        text-align: center;
        font-size: 30px;
    }
    &__title {
        text-align: center;
        margin-top: 30px;
        font-weight: 700;
        font-style: 35px;
        line-height: 35px;
    }
    &__descr {
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
    }
}

.photo {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 300px;
    box-shadow: 3px 3px 6px $title-color, -3px -3px 6px $title-color;
}

.navigation {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 600px;
    &__button {
        height: 100px;
        width: 200px;
    }
}