li {
    span {
        font-weight: bold;
    }
}

body {
    font-size: 16px;
    line-height: 26px;
}

.resume {
    &__wrapper {
        margin-left: 30px;
    }
    &__title {
        text-align: center;
        margin-top: 30px;
        font-size: 32px;
    }
    &__container {
        padding: 20px 0 20px 0;
        margin: 0 auto;
        width: 900px;
        h1 {
            @include textColor;
        }
        h2 {
            line-height: 26px;
            @include textColor;
        }
        h2,h3,h4 {
            margin-bottom: 20px;
        }
    }
    &__grid {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 430px 430px;
        grid-template-rows: auto;
        row-gap: 20px;
        column-gap: 60px;
    }
    &__start {
        h2 {
            position: relative;
            @include divider;
        }
    }
    &__lang {
        margin-top: 15px;
        margin-left: -30px;
        h2 {
            position: relative;
            @include divider;
        }
        ul {
            margin-left: 30px;
        }
    }
    &__contacts {
        line-height: 36px;
        // justify-self: center;
        h2 {
            position: relative;
            @include divider;
        }
        ul {
            li {
                span {
                    margin-right: 10px;
                }
                position: relative;
                a {
                    display: block;
                    transition: all .5s;
                    &:hover {
                        transform: scale(1.1);
                        color: $title-color;
                    }
                }
            }
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    &__education {
        h2 {
            position: relative;
            @include divider;
        }
        grid-row-start: 3;
        &-header {
            font-weight: 700;
        }
        &-years {
            font-weight: 400;
            color: #6e6e6e;
        }
        &-descr {
            font-size: 14px;
        }
    }
    &__skills {
        h2 {
            position: relative;
            @include divider;
        }
        ul {
            padding-left: 20px;
            list-style-type: disc;
        }
    }
    &__experience {
        h2 {
            position: relative;
            @include divider;
        }
        font-size: 14px;
        line-height: 20px;
        grid-row-start: 2;
        &-organization{
            font-weight: 700;
        }
        &-position {
            font-weight: 700;
        }
        &-years {
            font-weight: 400;
            color: #6e6e6e;
        }
        &-descr {
            ul {
                padding-left: 20px;
                list-style-type: disc;
                li {
                    margin-top: 5px;
                }
            }
        }
    }
    &__about {
        h2 {
            position: relative;
            @include divider;
        }
        text-align: justify;
    }
    &__courses {
        h2 {
            position: relative;
            @include divider;
        }
        margin-left: -30px;
        margin-top: 10px;
        ul {
            margin-left: 30px;
            list-style-type: disc;
            padding-left: 20px;
            font-size: 14px;
        }
    }
}
