@media (max-width: 992px) {
    .header {
        &__greatings {
            font-size: 27px;
        }
        &__title {
            font-size: 29px;
        }
        &__descr {
            font-size: 26px;
        }
    }
    .navigation__button {
        height: 70px;
        width: 170px;
    }

    .resume {
        &__container {
            width: 740px;
        }
       &__grid {
            grid-template-columns: 330px 330px;
       }
       &__about {
        text-align: left;
       }
    }
}

@media (max-width: 768px) {
    .navigation {
        width: 540px;
    }
    .resume {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 530px;
        }
       &__grid {
            grid-template-columns: 500px;
       }
       &__about {
        text-align: left;
       }
    }
}

@media (max-width: 576px) {
    .navigation {
        width: 320px;
        height: 200px;
        flex-direction: column;
        margin-top: 35px;
        text-align: center;
    }
    .resume {
        &__container {
            width: 320px;
        }
       &__grid {
            grid-template-columns: 300px;
       }
    }
}